.App {
  background-color: wheat;
  display: grid;
  grid-template-rows:  20px auto 20px;
  justify-self: center;
  justify-items: stretch;
  align-items: stretch;
  min-width: 80vw;
  max-width: min-content;
  font: 1.6em sans-serif;
}